html,
body {
  display: flex;
  max-width: 100%;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(21, 20, 20);
}

input {
  margin: 4px 4px 0 0;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 52px;
}

button {
  font-size: 125%;
  margin: 4px 4px 0 0;
  height: 50px;
  width:max-content;
  padding: 0 32px;
  border-radius: 8px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05); */
  justify-content: center;
  color: #fff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  user-select: none;
  -webkit-user-select: none;
  border-style: none
}

button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

button:active {
  outline: 0;
}

button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  button {
    /* height: 48px; */
  }
}

.center { display: block; margin: auto; }

a {
  color: inherit;
  text-decoration: none;
}
a:link { color: gray; }
a:visited { color: green; }
a:hover { color: purple; }
a:active { color: teal; }

p { font-size: 120%; }

